@model IEnumerable<Personel>
@{
    ViewData["Title"] = "Personeller";
}

<h1>Personeller</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Yeni Personel</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ad Soyad</th>
            <th>E-posta</th>
            <th>Sicil No</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var personel in Model)
{
        <tr>
            <td>@personel.AdSoyad</td>
            <td>@personel.Email</td>
            <td>@personel.SicilNo</td>
            <td class="text-end">
                <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@personel.Id">Detay</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@personel.Id">Düzenle</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@personel.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
